.button {
  width: 205px;
  height: 48px;
  border-radius: 22px;
  border: none;
  background: var(--button-bg-main);
  color: var(--button-color-main);
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}