.buttonGroup {
  display: flex;
  justify-content: center;
  
  button {
    border: none;
    width: fit-content;
    height: 30px;
    background: var(--button-bg-main);
    color: var(--button-color-main);
    padding-inline: 6px;
    transition: all 0.5s ease;
    font-size: 16px;
    &:first-child {
      border-start-start-radius: 12px;
      border-end-start-radius: 12px;
    }
    &:last-child {
      border-start-end-radius: 12px;
      border-end-end-radius: 12px;
    }
    &:hover {
      opacity: 0.8;
    }
    &.active {
      background: $font-color-grey;
      color: $font-color-white;
    }
  }
}