.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  
  &_animation {
    width: 20px;
    height: 20px;
    //TODO Цвет поменять
    border-bottom: 2px solid skyblue;
    border-right: 2px solid skyblue;
    border-radius: 50%;
    animation: 3s linear 1s infinite running loader;
  }

  @keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
}
}