.postPage {
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__general {
    &__container {
      display: flex;
      padding-inline: 48px;

      &_title {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 64px;
        padding-block: 26px;
        h1 {
          font-size: 50px;
          font-weight: 400;
          width: 960px;
        }

        p {
          color: $font-color-lightgrey;
          font-size: 18px;
          letter-spacing: 0.2px;
        }
      }

      &_authorInfo {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        border-inline: 1px dashed $font-color-grey;
        padding: 26px;
        color: $font-color-lightgrey;
        font-size: 14px;
      }
    }

    img {
      width: 100%;
    }
  }

  &__article {
    &__container {
      display: grid;
      grid-template-columns: 3fr 1fr;
      padding-inline: 50px;
      gap: 50px;
      &_text {
        width: 850px;
        justify-self: center;
        padding-block: 86px;
      }

      &_anchor {
        width: 400px;
        padding-block: 36px;
        padding-inline: 12px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: sticky;
        top: 15px;
        min-height: 300px;
        height: fit-content;

        a {
          font-size: 14px;
          text-decoration: none;
          color: $font-color-lightgrey;
        }
      }
    }
  }
}

.p_danger {
  color: orange;
}