.headerNav {
  display: flex;
  gap: 50px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.5px;
  align-items: center;
  text-wrap: nowrap;
  
  a {
    text-decoration: none;
    color: var(--font-color-main);
  }

  &_dropdown {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    svg {
      transition: transform 0.3s ease;
      color: var(--font-color-main);
    }
    &:hover {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}