// @use "../styles/fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-main);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  min-height: 100vh;
}



#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h1_danger {
  color: var(--font-color-main);
  font-size: 20px;
  padding-bottom: 24px;
}

.p_danger {
  color: $font-color-grey;
  font-size: 18px;
  letter-spacing: 1px;
  padding-bottom: 60px;
  br {
    margin-bottom: 24px;
  }
}
