$background-main: #fbfcf5;
$background-footer: #1d1d1d;

$button-dark: #263633;
$button-light: #fbfcf5;

$background-tab: #e0e3db;

$font-color-lightgrey: #989b91;
$font-color-grey: #414a48;
$font-color-black: #101d1f;
$font-color-white: #f8f9f2;